<html>
<head>
    <title>
        @ViewData["Title"]
    </title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div>
        header
    </div>
    @RenderBody()
    <div>
        footer
    </div>
    <script src="~/js/main.js"></script>
</body>
</html>