@{
    int number = 123;
    ViewData["Title"] = "Bosh sahifa";
}

<h1>ASP.NET Core MVC dan salom</h1>

<input value="@number" />

<p> home/index.cshtml fayli bu</p>

<a href="/home/todo">todo sahifasiga o'tish</a>
