@model int
@{
    ViewData["Title"] = "Todo sahifasi";
}

@for(int i=0; i<20; i++)
{
    <p>salom @i</p>
}

@if (2 < 3)
{
    <h1>ikki</h1>
}
else
{
    <h1>uch</h1>
}

<h1>home/todo.cshtml fayli bu</h1>
<p>yana o'sha p tagi</p>

<h3>controllerdan kelgan qiymat @Model</h3>

<a href="/home/index">orqaga qaytish</a>